.homepage {
    display: flex;
    justify-content: space-evenly;
    background-color: #373F51;
    padding-top: 200px;
    padding-bottom: 200px;
}

.homepage img {
    max-width: fit-content;
    
}

.homepage-nav button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: inherit;
    margin-top: 70px;
    width: 500px;
    height: 130px;
    border-radius: 20px;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    background-color: #c29a4b;
    outline-color: white;
    outline-style: solid;
}

.hide-header header{
    display: none;
}

.hide-header #home-button{
    display: none;
}

