.homepage {
    display: flex;
    justify-content: space-evenly;
    background-color: #373F51;
    padding-top: 200px;
    padding-bottom: 500px;
}

#logo-container{
    position:relative;
}

#home-logo {
    max-width: fit-content;
    animation: slideInFromLeft 5s;
}

#forklift{
    position:absolute;
    width: 20%;
    top: 170px;
    left: 45px;
    animation: slideInFromLeftForklift 6.5s;
    opacity: 0;
}

.homepage-nav{
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 5s;
    opacity: 0;
}

.homepage-nav button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: inherit;
    width: 500px;
    height: 130px;
    border-radius: 20px;
    font-size: xx-large;
    font-weight: bold;
    align-items: center;
    background-color: #c29a4b;
    outline-color: white;
    outline-style: solid;
}

.hide-header header{
    display: none;
}

.hide-header #home-button{
    display: none;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
   }
    100% {
        transform: translateX(0);
        opacity: 1;
   }
  }

  @keyframes slideInFromLeftForklift {
    0% {
        transform: translateX(-610px);
        opacity: 0;
   }
    80% {
        transform: translateX(0);
        opacity: 1;
   }
    100% {
        opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
   }
    100% {
      opacity: 1;
   }
  }