body {
    background-color: #E7E7DA;
}

#new-order-form-container {
    margin: 10px;
    color: #373F51;
    font-size: 24px;
    padding-bottom: 100px;
}

#new-order-form {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#new-order-form select {
    width: 250px;
    height: 45px;
    font-size: 20px;
}

#new-order-form-container button {
    width: 300px;
    height: 50px;
    font-size: 24px;
    color: #111318;
    background-color: #F3B02B;
    border-radius: 5px;
    border-style: none;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: #F6C665;
    }
}

#new-order-form-container button span{
    position: relative;
    transition: 0.5s;
}

#new-order-form-container button:hover span{
    padding-right: 25px;
}

#new-order-form-container button span:after{
    content: '\00bb';
    position: absolute;
    right: -20px;
    opacity: 0;
    transition: 0.5s;
}

#new-order-form-container button:hover span:after{
    opacity: 1;
    right: 0;
}

#ordered-item-form-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    
}

.ordered-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 300px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;

    font-size: 24px;
    color: #111318;
    border-color: #0F5680;
    background-color: #6DBFEE;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 7px 7px 2px 1px #373F51;
}

.ordered-item-form img {
    width: 50%;
    align-self: center;
    grid-row: 1;
    padding-top: 20px;
}

.ordered-item-form form input {
    width: 130px;
    font-size: 15px;
    padding-left: 5px;
    border-radius: 5px;
    color: #E0E0CE;
    background-color: #373F51;
    
    
}

#place-order {
    margin-right: 30px;
    margin-bottom: 30px;
    float: right;
}

.order-message {
    display: flex;
    justify-content: end;
    margin-right: 200px;
    font-style: italic;
    font-weight: bold;
}