h1 {
    text-align: center;
}

.search-bar {
    margin-left: 50px;
    margin-bottom: 25px;
}

.search-bar input{
    
    font-size: 20px;
    width: 20%;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 12px 5px 12px;
    background-color: #D7D7C1;
    border-color: grey;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24),0 12px 20px 0 rgba(0,0,0,0.19);
    
    
}